<header
  class="bg-[#f4f4f4] h-screen w-full lg:w-[300px] px-10 py-5 absolute top-0 left-0 bottom-0 overflow-y-scroll"
  id="header"
>
  <div class="flex justify-between items-center lg:hidden">
    <a href="/" class="w-fit block">
      <img src="/img/logo.png" alt="logo" title="logo" class="w-[150px]" />
    </a>
    <button class="text-xl" onclick="return showNav()">
      <i class="fa-solid fa-bars"></i>
    </button>
  </div>
  <nav
    id="nav-menu"
    class="bg-[#f4f4f4] h-full flex-col justify-between lg:flex absolute top-0 left-0 right-0 bottom-0 p-[50px] lg:p-[30px] hidden z-10"
  >
    <!-- Logo & Toggle -->
    <a href="/" class="w-fit mx-auto text-center hidden lg:block">
      <img src="/img/logo.png" alt="logo" title="logo" class="w-[150px]" />
    </a>
    <!-- Tasks Table -->
    <div>
      <p class="text-xs font-medium my-2">TASKS</p>
      <ul class="ml-1 pb-5 border-b">
        <li>
          <button
            onclick="return viewUpcomingTask()"
            class="group flex items-center justify-between py-2 px-3 rounded-lg hover:bg-gray-300 trasition-all duration-500 w-full <% if(upcomingActive){ %> active-link <% } %>"
          >
            <p
              class="font-medium text-sm text-stone-500 flex items-center group-hover:text-black"
            >
              <i class="fa-solid fa-angles-right text-zinc-400 mr-3"></i>
              Upcoming
            </p>
            <span
              class="num w-[35px] text-center font-semibold text-sm bg-zinc-200 rounded-lg text-stone-700 group-hover:bg-white"
              ><%= upcomingCount %></span
            >
          </button>
        </li>
        <li>
          <a
            href="/"
            class="group flex items-center justify-between py-2 px-3 rounded-lg hover:bg-gray-300 trasition-all duration-500 <%if(todayActive){ %>active-link<% } %>"
          >
            <p
              class="font-medium text-sm text-stone-500 flex items-center group-hover:text-black"
            >
              <i class="fa-solid fa-list-check text-zinc-400 mr-3"></i>
              Today
            </p>
            <span
              class="num w-[35px] text-center font-semibold text-sm bg-zinc-200 rounded-lg text-stone-700 group-hover:bg-white"
              ><%= todayCount %></span
            >
          </a>
        </li>
      </ul>
    </div>

    <!-- Lists Table -->
    <div>
      <p class="text-xs font-medium my-2">Lists</p>
      <ul class="ml-1 pb-5 border-b">
        <li>
          <button
            onclick="return viewAllTaskFun()"
            class="group flex items-center justify-between py-2 px-3 rounded-lg hover:bg-gray-300 trasition-all duration-500 w-full <% if(activeLink) { %> active-link <% } %>"
            id="allTaskBtn"
          >
            <p
              class="font-medium text-sm text-stone-500 flex items-center group-hover:text-black"
            >
              <span
                class="border-2 h-4 w-4 inline-block mr-3 rounded-md"
              ></span>
              All
            </p>
            <span
              class="num w-[35px] text-center font-semibold text-sm bg-zinc-200 rounded-lg text-stone-700 group-hover:bg-white"
              ><%= countTaskData %></span
            >
          </button>
        </li>
        <% for(let lData of listData){ %>
        <li class="relative">
          <div
            class="group py-2 px-3 flex items-center justify-between rounded-lg hover:bg-gray-300 trasition-all duration-500 <% if(listId == lData.id){ %> active-link <% } %>"
          >
            <button
              onclick="return viewTaskOnListFun('<%= lData.id %>')"
              class="flex justify-between w-[-webkit-fill-available]"
            >
              <p
                class="font-medium text-sm text-stone-500 flex items-center group-hover:text-black before:bg-[<%= lData.listColor %>] before:h-4 before:w-4 before:inline-block before:mr-3 before:rounded-md"
              >
                <%= lData.listName %>
              </p>
              <span
                class="num w-[35px] text-center font-semibold text-sm bg-zinc-200 rounded-lg text-stone-700 group-hover:bg-white mr-5"
                ><%= lData.taskIds.length %></span
              >
            </button>
            <button onclick="return editListModel('<%= lData.id %>')">
              <span class="text-xs text-stone-500">
                <i class="fa-solid fa-angle-right"></i>
              </span>
            </button>
          </div>
        </li>
        <% } %>
        <li>
          <button
            onclick="return listModel()"
            class="group flex items-center justify-between py-2 px-3 rounded-lg hover:bg-gray-300 trasition-all duration-500 w-full"
          >
            <p
              class="font-medium text-sm text-stone-500 flex items-center group-hover:text-black"
            >
              <span class="h-4 w-4 inline-block mr-3 rounded-md mb-[4px]">
                <i class="fa-solid fa-plus"></i>
              </span>
              Add New List
            </p>
          </button>
        </li>
      </ul>
    </div>

    <!-- Tags Table -->
    <div>
      <p class="text-xs font-medium my-2">Tags</p>
      <ul class="pb-5 flex flex-wrap">
        <% for(let tData of tagData){ %>
        <li class="mr-1">
          <button
            onclick="return viewTaskOnTagFun('<%= tData.id %>')"
            class="group font-bold text-[13px] bg-[#d1eaed] text-stone-500 py-[5px] px-3 rounded-lg trasition-all duration-500 mb-2"
          >
            <%= tData.tagName %>
          </button>
        </li>
        <% } %>
        <li class="mr-1">
          <button
            onclick="return tagModel()"
            class="group font-bold text-[13px] bg-[#ebebeb] py-[5px] px-3 rounded-lg hover:bg-gray-300 hover:text-black trasition-all duration-500"
          >
            + Add Tag
          </button>
        </li>
      </ul>
    </div>

    <!-- Account Table -->
    <div>
      <ul>
        <li class="relative">
          <button
            onclick="return showMenu()"
            class="w-full group flex items-center justify-between py-2 px-3 rounded-lg hover:bg-gray-300 trasition-all duration-500"
          >
            <p
              class="font-medium text-sm text-stone-500 flex items-center group-hover:text-black"
            >
              <i class="fa-solid fa-gear text-zinc-400 mr-3"></i>
              Account Settings
            </p>
          </button>
          <ul
            class="flex flex-col hidden absolute bottom-full bg-white rounded-lg w-full"
            id="menu-list"
          >
            <li>
              <button
                onclick="return viewProfileFun('65e434814027ab6ea49b1329')"
                class="w-full py-2 px-3 group flex items-center justify-between rounded-lg hover:bg-gray-300 trasition-all duration-500"
              >
                <p
                  class="font-medium text-sm text-stone-500 flex items-center group-hover:text-black"
                >
                  <i class="fa-solid fa-user text-zinc-400 mr-3"></i>
                  Profile
                </p>
              </button>
            </li>
            <li>
              <a
                href="/logoutUser"
                class="group flex items-center justify-between py-2 px-3 rounded-lg hover:bg-gray-300 trasition-all duration-500"
              >
                <p
                  class="font-medium text-sm text-stone-500 flex items-center group-hover:text-black"
                >
                  <i class="fa-solid fa-unlock text-zinc-400 mr-3"></i>
                  Change Password
                </p>
              </a>
            </li>
            <li>
              <a
                href="/logoutUser"
                class="group flex items-center justify-between py-2 px-3 rounded-lg hover:bg-gray-300 trasition-all duration-500"
              >
                <p
                  class="font-medium text-sm text-stone-500 flex items-center group-hover:text-black"
                >
                  <i class="fa-solid fa-power-off text-zinc-400 mr-3"></i>
                  Log Out
                </p>
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>

    <div class="absolute top-0 right-0 pt-5 pr-10 lg:hidden text-2xl">
      <button onclick="return closeNavMenu()">
        <i class="fa-solid fa-xmark"></i>
      </button>
    </div>
  </nav>
</header>
<main class="lg:ml-[300px] relative px-10 lg:px-6 mt-14 lg:mt-0">
  <div id="after-flex">
    <section id="main-body">
      <div class="pt-3 pb-8">
        <div class="flex items-center justify-between">
          <h2 class="text-4xl font-bold">
            <%= titleName %>
            <span
              class="border font-semibold inline-block h-[45px] w-[45px] text-center leading-[45px] rounded-lg ml-5"
              ><%= taskData.length %></span
            >
          </h2>
          <!-- <div class="mt-5"> -->
          <!-- <span class="border px-3 py-2 rounded-lg">
                                        <i class="fa-regular fa-trash-can"></i>
                                    </span> -->
          <!-- <label for="task-list" class="block text-sm font-medium leading-6 text-gray-600 mb-2">Assign To List:</label> -->
          <!-- <select name="actionTask" class=" rounded-md border-0 outline-none shadow-lg ml-3 py-2
                                     pl-3 pr-10 text-gray-900 placeholder:text-gray-400 sm:text-sm sm:leading-6" id="action-task">
                                        <option value="" disabled="" selected="">Action for task</option>                                        
                                        <option value="">Delete</option>
                                        <option value="">Complete</option>
                                    </select> -->
          <!-- <button  class="group font-bold  py-[5px] px-3 rounded-lg hover:bg-gray-300 hover:text-black trasition-all duration-500">
                                            <i class="fa-solid fa-check"></i>
                                        </button> -->
          <!-- </div> -->
        </div>
      </div>
      <!-- <form action="/actionTask" method="post"> -->
      <ul>
        <li>
          <button
            onclick="return taskModel()"
            class="w-full group flex items-center justify-between py-2 px-3 rounded-lg hover:bg-gray-300 trasition-all duration-500 border-b"
          >
            <p
              class="font-medium text-sm text-stone-500 flex items-center group-hover:text-black"
            >
              <span class="h-4 w-4 inline-block mr-3 rounded-md mb-[4px]">
                <i class="fa-solid fa-plus"></i>
              </span>
              Add New Task
            </p>
          </button>
        </li>
        <% if(taskData != ""){for(let tData of taskData){ if(tData.status ==
        "pending"){ %>
        <li class="border-b hover:rounded-lg trasition-all duration-300">
          <div
            class="sub flex flex-wrap items-center justify-between hover:bg-gray-300 duration-300 rounded-lg py-2 px-3"
          >
            <div class="w-11/12">
              <div class="flex items-center w-[-webkit-fill-available]">
                <input
                  type="radio"
                  name="task-pending"
                  onchange="assignToComplete('<%= tData.id %>',`<% if(listId == ''){ %><%= tData.taskList.id %><% } else { %><%= listId %><% } %>`, '<% if(upcomingActive){ %>upcoming<% } else if(todayActive){ %>today<% } %>')"
                />
                <p
                  id="<%= tData.id %>"
                  class="font-medium text-sm text-stone-500 ml-3"
                >
                  <%= tData.taskName %>
                </p>
              </div>
            </div>
            <div class="w-1/12 text-end">
              <button
                onclick="return editTaskModel('<%= tData.id %>')"
                class="rounded-lg trasition-all text-stone-500 duration-500"
              >
                <i class="fa-solid fa-angle-right"></i>
              </button>
            </div>
            <% dd = tData.dueDate.split(/\D/g) %> <% let date =
            [dd[2],dd[1],dd[0]].join("-") %>
            <div class="ml-6">
              <div class="flex items-center">
                <span class="flex items-center">
                  <i
                    class="font-medium text-stone-500 ms-0.5 fa-solid fa-calendar-xmark"
                  ></i>
                  <p class="font-medium text-xs text-stone-500 ml-2">
                    <%= date %>
                  </p>
                </span>
                <span class="w-[1.5px] h-5 bg-zinc-200 mx-5"></span>
                <span class="flex items-center">
                  <span
                    class="bg-[<%= tData.taskList.listColor %>] h-4 w-4 inline-block rounded-md"
                  ></span>
                  <p class="font-medium text-xs text-stone-500 ml-2">
                    <%= tData.taskList.listName %>
                  </p>
                </span>
                <span class="w-[1.5px] h-5 bg-zinc-200 mx-5"></span>
                <span class="flex items-center">
                  <% for(let tgData of tagData){ %>
                  <span
                    class="font-bold text-[13px] bg-[#d1eaed] py-[5px] px-3 rounded-lg ms-2 <% if(tData.taskTags.includes(tgData.id)){ %> block <% } else { %> hidden <% } %>"
                  >
                    <p class="font-medium text-xs text-stone-500">
                      <%= tgData.tagName %>
                    </p>
                  </span>
                  <% } %>
                </span>
              </div>
            </div>
          </div>
          <!-- <div class=" items-center justify-between hover:bg-gray-300 rounded-lg">
                                    <span class="ml-6">
                                        <i class="fa-solid fa-calendar-xmark"></i>
                                    </span>
                                </div> -->
        </li>
        <% } } } else{ %>
        <li
          class="border-b hover:rounded-lg trasition-all duration-300 py-3 text-center"
        >
          <p class="text-3xl text-stone-500">No avaliable task</p>
        </li>
        <% } %>
      </ul>
      <div class="rounded-md mb-4">
        <button
          class="w-full text-left px-3 py-2 hover:bg-gray-300 focus:outline-none w-fit"
          id="btn-acc"
          onclick="return accordianFun()"
        >
          <i
            id="icon-acc"
            class="fa-solid fa-chevron-right fa-chevron-down trasition-all duration-500"
          ></i>
          Completed
        </button>
        <div class="px-4 py-2 hidden" id="content-acc">
          <ul>
            <% for(let tData of taskData){ if(tData.status == "complete"){ %>
            <li class="border-b hover:rounded-lg trasition-all duration-300">
              <div
                class="sub flex flex-wrap items-center justify-between hover:bg-gray-300 duration-300 rounded-lg py-2 px-3"
              >
                <div class="w-11/12">
                  <div class="flex items-center w-[-webkit-fill-available]">
                    <input
                      type="radio"
                      onclick="assignToPending('<%= tData.id %>',`<% if(listId == ''){ %><%= tData.taskList.id %><% } else { %><%= listId %><% } %>`, '<% if(upcomingActive){ %>upcoming<% } else if(todayActive){ %>today<% } %>')"
                      id="<%= tData.id %>-radio"
                      checked=""
                    />
                    <p
                      id="<%= tData.id %>"
                      class="font-medium text-sm text-stone-500 ml-3 line-through"
                    >
                      <%= tData.taskName %>
                    </p>
                  </div>
                </div>
                <div class="w-1/12 text-end">
                  <button
                    onclick="return editTaskModel('<%= tData.id %>')"
                    class="rounded-lg trasition-all text-stone-500 duration-500"
                  >
                    <i class="fa-solid fa-angle-right"></i>
                  </button>
                </div>
                <% dd = tData.dueDate.split(/\D/g) %> <% let date =
                [dd[2],dd[1],dd[0]].join("-") %>
                <div class="ml-6">
                  <div class="flex items-center">
                    <span class="flex items-center">
                      <i
                        class="font-medium text-stone-500 ms-0.5 fa-solid fa-calendar-xmark"
                      ></i>
                      <p class="font-medium text-xs text-stone-500 ml-2">
                        <%= date %>
                      </p>
                    </span>
                    <span class="w-[1.5px] h-5 bg-zinc-200 mx-5"></span>
                    <span class="flex items-center">
                      <span
                        class="bg-[<%= tData.taskList.listColor %>] h-4 w-4 inline-block rounded-md"
                      ></span>
                      <p class="font-medium text-xs text-stone-500 ml-2">
                        <%= tData.taskList.listName %>
                      </p>
                    </span>
                    <span class="w-[1.5px] h-5 bg-zinc-200 mx-5"></span>
                    <span class="flex items-center">
                      <% for(let tgData of tagData){ %>
                      <span
                        class="font-bold text-[13px] bg-[#d1eaed] py-[5px] px-3 rounded-lg ms-2 <% if(tData.taskTags.includes(tgData.id)){ %> block <% } else { %> hidden <% } %>"
                      >
                        <p class="font-medium text-xs text-stone-500">
                          <%= tgData.tagName %>
                        </p>
                      </span>
                      <% } %>
                    </span>
                  </div>
                </div>
              </div>
              <!-- <div class=" items-center justify-between hover:bg-gray-300 rounded-lg">
                                          <span class="ml-6">
                                              <i class="fa-solid fa-calendar-xmark"></i>
                                          </span>
                                      </div> -->
            </li>
            <% } } %>
          </ul>
        </div>
      </div>
      <!-- </form> -->
    </section>

    <section id="task-model" class="sm:w-[400px] sm:relative z-20"></section>
  </div>
</main>
